:root {
    --colorAmarillo: rgb(255, 212, 59);
    --colorNegro: black;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

#botonAgregar:hover > #iconAgregar, #botonRegistrar:hover > #iconRegistrar {
    color: var(--colorNegro);
}

#botonAgregar > #iconAgregar, #iconRegistrar {
    color: var(--colorAmarillo);
}

#btnIniciarSesion, #btnIngresar, #btnCerrarSesion, #botonRegistrar, #btnEditar:hover, #botonAgregar {
    background-color: var(--colorNegro);
    color: var(--colorAmarillo);
}

#btnIniciarSesion:hover, #btnCerrarSesion:hover, #btnIngresar:hover, #botonRegistrar:hover, #btnEditar:hover > iconAgregar, #botonAgregar:hover {
    background-color: var(--colorAmarillo);
    color: var(--colorNegro);
}

#navHeader {
    background-color: var(--colorAmarillo);
}